.bluebg{
  background-image: url(/images/bg-main-mobile.png);
}
hhi{
  color:  #8e8593;
  color:  #600594;
}
.card-front{
  background-image: url(/images/bg-card-front.png);
}
.card-back{
  background-image: url(/images/bg-card-back.png);
}
@media (min-width: 768px){
  .bluebg{
    background-image: url(/images/bg-main-desktop.png);
    /* height: 100vh !important; */
    background-size: cover;
    background-repeat: no-repeat;
  }
}